
@using CommitteeAdministration.ViewModels
@model CommitteeAdministration.ViewModels.AddIndicatorViewModel

<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm("AddIndicator", "CriteriaScInd", FormMethod.Post))
{
   
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-horizontal">

            <div class="form-group" align="center">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                <div align="center">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group" align="center">
                @Html.LabelFor(model => model.Coefficient, htmlAttributes: new { @class = "control-label" })
                <div align="center">
                    @Html.EditorFor(model => model.Coefficient, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group" align="center">
                @Html.LabelFor(model => model.DeadLinePeriod, htmlAttributes: new { @class = "control-label" })
                <div align="center">
                    @Html.EditorFor(model => model.DeadLinePeriod, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group" align="center">
                @Html.LabelFor(model => model.SubCriterion, new { @class = "control-label" })
                <div align="center">
                    @Html.Label("LabelSubCriterion", Model.SubCriterion.Subject)
                    <div hidden="hidden">
                        @Html.EditorFor(m=>m.SubCriterion);
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div align="center">
                <input type="submit" value="ذخیره و افزودن شاخص بعدی" class="btn btn-default" formaction="AddNewIndicator" formmethod="post" />
                <input type="submit" value="ذخیره و افزودن معیاری دیگر" class="btn btn-default" formaction="AddIndicatorAndGoAhead" formmethod="post"/>
                <input type="submit" value="ذخیره و پایان" class="btn btn-default" formaction="AddIndicatorAndEnd" formmethod="post"/>
            </div>
        </div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


