
@model CommitteeAdministration.Areas.Management.Models.UserViewModel
@{
    Layout = null;
}
@*<link href="~/Content/plugin/chosen/chosen.css" rel="stylesheet" />*@


@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Ajax Content</h4>
</div>*@


    @*<form method="post" id="frmCategory" name="frmCategory" class="form-to-be-validated" action="~/Management/Management/SaveCategory">*@
     @using (Ajax.BeginForm("Management", "SaveCategory", new AjaxOptions() {HttpMethod = "POST", UpdateTargetId = "frmEmp"}))
     {

         <div class="container-fluid" style="direction: rtl">

             @*<div class="row" style="direction: rtl">
                <div class="col-sm-3" style="float: right; padding-top: 10px">
                    <select name="ParentID" id="cbxParentID" onchange="LoadDepartments(this.value)" class="chosen-select chosen-rtl chzn_a span7" style="margin-top: 10px; height: 34px; width:100%;">
                        <option value="">-----</option>
                        @foreach (var item in Model.CategoryList)
                        {
                            if (item.Key != Model.Category.ID)
                            {
                                <option value="@(item.Key)" @(Model.Category.ParentID == item.Key ? "selected=selected" : "")>@(item.Value)</option>
                            }
                        }
                    </select>
                </div>
            </div>*@
             @*<div class="row" style="direction: rtl">

                <div class="col-sm-6" style="float: right">
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon">ایمیل</span>
                        <input name="Email" id="txtEmail" type="text" class="form-control" placeholder="ایمیل" value="@Model.Name"/>
                    </div>
                </div>

                <div class="col-sm-6" style="float: right">
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon">رمز عبور</span>
                        <input name="Password" id="txtPassword" type="password" class="form-control" placeholder="رمز عبور" value="@Model.FamilyName"/>
                    </div>
                </div>

                <div class="col-sm-6" style="float: right">
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon">تایید رمز عبور</span>
                        <input name="Password" id="txtConfirmPassword" type="password" class="form-control" placeholder="نام خانوادگی" value="@Model.FamilyName" />
                    </div>
                </div>

            </div>

            <div class="row" style="direction: rtl">

                <div class="col-sm-6" style="float: right">
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon">نام</span>
                        <input name="Name" id="txtName" type="text" class="form-control" placeholder="نام" value="@Model.Name"/>
                    </div>
                </div>

                <div class="col-sm-6" style="float: right">
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon">نام خانوادگی</span>
                        <input name="LatinName" id="txtLatinName" type="text" class="form-control" placeholder="نام خانوادگی" value="@Model.FamilyName"/>
                    </div>
                </div>

            </div>

            <div class="row" style="direction: rtl">

                <div class="col-sm-6" style="float: right">
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon">نام</span>
                        <input name="Name" id="txtName" type="text" class="form-control" placeholder="نام" value="@Model.Name" />
                    </div>
                </div>

                <div class="col-sm-6" style="float: right">
                    <div class="input-group" style="margin-top: 10px;">
                        <span class="input-group-addon">نام خانوادگی</span>
                        <input name="LatinName" id="txtLatinName" type="text" class="form-control" placeholder="نام خانوادگی" value="@Model.FamilyName" />
                    </div>
                </div>

            </div>*@
















             @Html.ValidationSummary("", new {@class = "text-danger"})

             <div class="form-group">
                 @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
                 <div class="col-md-10">
                     @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                 </div>
             </div>

             <div class="form-group">
                 @Html.LabelFor(m => m.FamilyName, new {@class = "col-md-2 control-label"})
                 <div class="col-md-10">
                     @Html.TextBoxFor(m => m.FamilyName, new {@class = "form-control"})
                 </div>
             </div>


             <div class="form-group">
                 @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                 <div class="col-md-10">
                     @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                 </div>
             </div>
             <div class="form-group">
                 @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                 <div class="col-md-10">
                     @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                 </div>
             </div>
             <div class="form-group">
                 @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                 <div class="col-md-10">
                     @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                 </div>
             </div>




             <div class="row" style="direction: rtl">
                 <div class="col-sm-6" style="float: right">
                 </div>
                 <div class="col-sm-6" style="float: right">
                     <button type="reset" class="btn btn-primary" style="float: left; margin-top: 10px; margin-left: 10px">پاک شدن</button>
                     <button type="submit" class="btn btn-primary" style="float: left; margin-top: 10px; margin-left: 10px">ثبت</button>
                     <button type="button" class="btn default" data-dismiss="modal">بستن</button>
                 </div>
             </div>
         </div>



     }


