@model CommitteeAdministration.ViewModels.IndicatorRealValueViewModel
@{
    ViewBag.Title = "AddRealValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<h2>AddRealValues</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" align="center" dir="rtl">
        <h4>جدول ورود اطلاعات مقادیر شاخص واقعی</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" align="center">
            @Html.LabelFor(model => model.Committees, new { @class = "control-label" })
            <div align="center">
                @Html.DropDownListFor(m => m.SelectedCommitteeId, Model.Committees, "Select", new
           {
               @id = "dropDownCommittee"
           })

            </div>
        </div>
        <div id="AllDataDiv">

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $('#dropDownCommittee').change(function() {
                var id = $(this).find(":selected").val();
                var url = '/IndicatorRealValues/AddRealValuePartial?committeeId=' + id;
                $("#AllDataDiv").load(url);
            });
        });
    </script>
}
