@model CommitteeAdministration.ViewModels.CreateSubCriterionViewModel


<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<style>
    .ui-widget-header, .ui-state-default, .ui-button {
        background: #b9cd6d;
        border: 1px solid #b9cd6d;
        color: #FFFFFF;
        font-weight: bold;
    }
</style>

<script>
$(document).ready(function(){
    $("form").submit(function(e) {
        e.preventDefault();
        var dd = $("#SubCriterionSubmitForm").serialize();
        console.log(dd);
        $.ajax({
            url: "/SubCriterions/CreateSubCriterionPartial",
            type: 'post',
            dataType: 'json',
            async: false,
            data:$("#SubCriterionSubmitForm").serialize(),
            success: function(response) {
                var result = response.StatusCode;
                if (result===200) {
                    alert("افزودن زیر معیار با موفقیت انجام شد");
                    $("#SubCriterionSubmitForm").hide();
                } else {
                    alert("مشکلی در افزودن پیش آمد. مجددا تلاش کنید.");
                    $("#SubCriterionSubmitForm").hide();
                }
            },
            error: function(xhr) {

            alert("Something went wrong, please try again");
            $("#SubCriterionSubmitForm").hide();
        }

        });
        
    });
});
</script>
@using (Html.BeginForm("CreateSubCriterionPartial","SubCriterions",FormMethod.Post,new{@id="SubCriterionSubmitForm"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" dir="rtl" align="right">
       <h4>افزودن زیر معیار</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Subject, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Coefficient, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Coefficient, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.Coefficient, htmlAttributes: new {@class = "control-label col-md-2"})
        </div>
        <div style="display: none">
            @Html.EditorFor(model => model.Committee, new { htmlAttributes = new { @style = "display: none" } })
            @Html.EditorFor(model => model.Criterion, new { htmlAttributes = new { @style = "display: none" } })
        </div>
       
    </div>
}
